<!DOCTYPE html>
<html>
<head>
	<title>DOTA 2</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
<!-- NAVBAR STARTS HERE -->

<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="index.html">
				<img src="images/logo.png">
			</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="/heroes">Heroes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/learn">Learn</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link " href="/feedback">Feedback</a>
					</li>
				</ul>
				
			</div>
		</div>
	</nav>
<!-- NAVBAR ENDS HERE -->

<!-- BODY STARTS HERE -->

<div class="container-fluid">
<div class="row main1">
	<div class="col-lg-12"></div>
</div>
<div class="row main2">
	<!-- <div class="row space"></div> -->
	<div class="col-lg-12">
		<div class="col-lg-4 offset-lg-8 text-center">
		<h1>
			<br>
			<br>
			<br>
			<br>
		The Most Complex Competetive Game Ever.</h1>
		<h3><br>Dota doesn't provide limitations on how to play, it empowers you to express your own style.</h3>
	</div>
	</div>
</div>
<div class="row main3">
	<div class="col-lg-12">
		<div class="col-lg-4 text-center">
		<h1>
			<br>
			<br>
			<br>
			<br>One Battlefield. Infinite Possibilities.</h1>
			<h3><br>Dota is deep, and constantly evolving, but it's never too late to join.
Learn the ropes playing co-op vs. bots. Sharpen your skills in the hero demo mode</h3>
	</div>
</div>
</div>

</div>

<!-- BODY ENDS HERE -->

<!-- FOOTER STARTS HERE -->


<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 text-center">
					<i class="fa fa-google-plus-square" aria-hidden="true"></i>
				</div>
		
			
				<div class="col-lg-12 text-center">
					<i class="fa fa-facebook-square" aria-hidden="true"></i>
				</div>
		

				<div class="col-lg-12 text-center">
					<i class="fa fa-steam-square" aria-hidden="true"></i>
				</div>
			</div>
			
			<div class="row justify-content-center">
				<p class="text-center">Copyright &copy; Valve</p>
			</div>
		</div>
</footer>

<!-- FOOTER ENDS HERE -->




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>