<!DOCTYPE html>
<html>
<head>
	<title>Learn</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/learn.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
<!-- NAVBAR STARTS HERE -->

<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="index.html">
				<img src="images/logo.png">
			</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="/heroes">Heroes</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/learn">Learn</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link " href="/feedback">Feedback</a>
					</li>
				</ul>
				
			</div>
		</div>
	</nav>
<!-- NAVBAR ENDS HERE -->

<!-- BODY STARTS HERE -->

<div class="container-fluid guide">
<div class="row text-center">
	<div class="col-lg-10 offset-lg-1">
	<h1>Wait! Before you press that "Find Match" button...</h1>
	<h3>Make sure that you aren't hungry/thirsty/sleepy/drunk!
Explanation: If you want your body to fully cooperate with you in-game, then you better satisfy it first.</h3>
<h3>Are you in a good mood? Not tilted in any way?
Explanation: Emotions can make or break us. I can assure you that a depressed player can never compete with an inspired one. Negative emotions WILL decrease your skill in-game!
</h3>
<h3>Last but definitely not the least, DONT STRETCH YOURSELF!
There are times that even after 6 games in a row, you still feel happy but... At this point, I can assure you that you aren't at your maximum potential anymore.</h3>
</div>
</div>

<div class="row text-center">
	<div class="col-lg-10 offset-lg-1">
	<h1>Your Mindset DURING a Solo Ranked Match:</h1>
	<h3>If you don't suck, then the maximum number of noobs your team can have is 4 while your enemy team has a maximum of 5.
This means that you'll always have a positive winrate until you decide to stop learning.</h3>
<h3> ALWAYS expect less from your teammates. Don't expect them to be perfect!
Explanation: This will remind you to always do your best and to never set your expectations too high. If you wanted good teammates, then you should go and create a team yourself.</h3>
<h3>Never give in to your emotions if you want to win
Don't let other people bring you down. Just focus on doing your best and pray that it's enough for you to win!</h3>
	</div>
</div>

	<div class="row text-center">
		<div class="col-lg-10 offset-lg-1">
		<h1>Tilt, your BEST FRIEND and WORST NIGHTMARE!</h1>
		<h3>"Tilt" is a term used for players entering a state of frustration and confusion which leads to them going for less optimal strategies, usually resulting in them being over-aggressive.</h3>
		<h3>Being tilted is such a common incident that it's been considered a norm not just in Dota 2 but in the whole gaming community. It's seen as a bad thing and well... IT IS! Tilt decreases your skill level drastically which leads to you making bad game decisions that will make you LOSE and TILT even more. It's an endless vicious cycle if you don't stop it!</h3>
	</div>
</div>

<!-- BODY ENDS HERE -->

<!-- FOOTER STARTS HERE -->


<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-1 offset-lg-5">
					<i class="fa fa-google-plus-square" aria-hidden="true"></i>
				</div>
				<div class="col-lg-1">
					<i class="fa fa-facebook-square" aria-hidden="true"></i>
				</div>
				<div class="col-lg-1 ">
					<i class="fa fa-steam-square" aria-hidden="true"></i>
				</div>
			</div>
			<div class="row justify-content-center">
				<p class="text-center">Copyright &copy; Valve</p>
			</div>
		</div>
</footer>

<!-- FOOTER ENDS HERE -->




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>