*{
	margin: 0;
	padding: 0;
}

/*NAVBAR STARTS HERE*/

.bg-dark{
	background-color: #000000 !important; 
}

.nav-item a{
	color: white;
}
/*NAVBAR ENDS HERE*/


/*BODY STARTS HERE*/
body{
	font-family: 'Montserrat';
	font-weight: 100;
	background-color: black;
	overflow-x: hidden;
}



h1{
	color:white;
	text-shadow: 1px 3px 3px rgba(0,0,0,0.82);
	cursor: default;
}


.strength{
	background-image: url("../images/strength.jpg");
	height:700px;
	background-size: cover;
	box-shadow: inset 1px 0px 10px 5px #000000;
	opacity: 0.5;
	transition: 0.5s ease-in-out;
	animation: slideInLeft 1s ease-in-out 1;

}

.strength:hover{
	opacity: 1;
	transition: 0.5s ease-in-out;
}

.agility{
	background-image: url("../images/agility.jpg");
	height:700px;
	background-size: cover;
	box-shadow: inset 1px 0px 10px 5px #000000;
	opacity: 0.5;
	transition: 0.5s ease-in-out;
	animation: slideInUp 1s ease-in-out 1;
}

.agility:hover{
	opacity: 1;
	transition: 0.5s ease-in-out;
}

.intelligence{
	background-image: url("../images/intelligence.jpg");
	height:700px;
	background-size: cover;
	box-shadow: inset 1px 0px 10px 5px #000000;
	opacity: 0.5;
	transition: 0.5s ease-in-out;
	animation: slideInRight 1s ease-in-out 1;
}
.intelligence:hover{
	opacity: 1;
	transition: 0.5s ease-in-out;
}

h3{
	color: silver;
}

.hero1{
	height:520px;
	background-color: rgb(0,0,0,0.5);
	box-shadow: inset 0px 0px 67px 3px rgba(0,0,0,0.75);
	background-image: url("../images/hero1.jpg");
	background-size: cover;
	text-shadow: 1px 3px 3px rgba(0,0,0,0.82);
	
}

.hero2{
	height:520px;
	box-shadow: inset 0px 0px 67px 3px rgba(0,0,0,0.75);
	background-image: url("../images/hero2.jpg");
	background-size: cover;
	text-shadow: 1px 3px 3px rgba(0,0,0,0.82);
}

.hero3{
	height:520px;
	box-shadow: inset 0px 0px 67px 3px rgba(0,0,0,0.75);
	background-image: url("../images/hero3.jpg");
	background-size: cover;
	text-shadow: 1px 3px 3px rgba(0,0,0,0.82);
}




/*BODY ENDS HERE*/