*{
	margin: 0;
	padding: 0;
}

/*NAVBAR STARTS HERE*/

.bg-dark{
	background-color: #000000 !important; 
}

.nav-item a{
	color: white;
}
/*NAVBAR ENDS HERE*/

/*BODY STARTS HERE*/
body{
	font-family: 'Montserrat';
	font-weight: 100;
}

.col-lg-4 h1{
	text-shadow: 1px 1px 7px rgba(0,1,2,0.58);
}

.col-lg-4 h3{
	text-shadow: 1px 1px 7px rgba(0,1,2,0.38);
}

.main1 .col-lg-12{
	background-image: url("../images/MAIN1.png");
	height:720px;
	background-size: cover;
	background-position: center;
	box-shadow: inset 1px 0px 10px 5px #000000;
}

.main2 .col-lg-12{
	background-image: url("../images/MAIN2.jpg");
	height:720px;
	background-size: cover;
	box-shadow: inset 1px 0px 10px 5px #000000;
}

.main3 .col-lg-12{
	background-image: url("../images/MAIN3.jpg");
	height:720px;
	background-size: cover;
	box-shadow: inset 1px 0px 10px 5px #000000;
}

/*BODY ENDS HERE*/

/*FOOTER STARTS HERE*/
footer{
	height:200px;
	background-color: black;
	color: #FFF;
}
footer .row .col-lg-1
{
	font-size: 50px;
}
footer p
{
	font-size:30px;
}
/*FOOTER ENDS HERE*/